#superior{
  background-color: rgba(213, 177, 218, 0.507);
  padding: 15px;

}

#superiordos{
padding: 20px;
background-color: rgba(213, 177, 218, 0.507);

}

.bodyuno{ 
display: grid;
grid-template-areas:
  "imagenprincipal imagenprincipal imagenprincipal"
  "navbar navbar navbar"
  "biografia  biografia biografia"
  "info  info info"
  "premios carousel carousel"
  "diccionario diccionario diccionario"
  "linea linea linea"
  "experiencia experiencia sobremi"
  "derechos derechos derechos";
  background: linear-gradient(rgba(175, 128, 196, 0.212),rgba(218, 123, 123, 0.568));
}


.diccionario{
grid-area: diccionario;
margin-left: 1300px;

}


.boton{
border-radius: 10px;
background:linear-gradient(rgba(167, 129, 172, 0.568), rgb(125, 125, 182)) ;
padding: 20px;


}
.tay5{
width: 900px !important;
height: 400px;

}

.titulopremios{
grid-area: titulopremios;
background-color: #f6f1f779;
margin: 5px;
text-align: center;
font-family: 'Playfair Display', serif;
font-size: 30px;
}
.autor{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0%;
  color: #000000a6;

}
.lineados{
width: 800px;
margin-left: 550px;
font-weight: 1000;
}
.derechos{
grid-area: derechos;
background-color: #f1ba717c;
padding: 20px;

}
.contacto{
background-color: #feffff7c;
font-family: 'Playfair Display', serif;
font-size: 25px;
text-align: center;
color: #ce7c95;

}
.linea{
grid-area: linea;

}

.infodos{
grid-area: infodos;

}
.info{
 grid-area:info;
}
.imagenprincipal{
  grid-area: imagenprincipal;

}

.navbar{grid-area: navbar ;

}

.biografia{
  grid-area: biografia;


}
.bio{
width: 950px;


}

.premios{
grid-area: premios;


}

#carousel{
grid-area: carousel;

}
.experiencia{
grid-area: experiencia;
border: 2px solid black;
border-radius: 50px;
border: #141414;
}

.sobremi{
grid:sobremi;
background-color: #287fc55b;
margin-left: 40px;
margin-right: 60px;
padding: 10px;
border-radius: 10px;
border:  3px solid rgba(116, 40, 204, 0.24);
}

#imagenuno{
max-width: 100%; 
max-height: 550px; 
height: auto;

}


#debut{background: linear-gradient(#82dbeb, #d8e9df);

}

#fearless{background: linear-gradient(#f1ce59, #e9e9d8);

}

#speak{background: linear-gradient(#bc82eb, #e4d8e9);
}

#red{background: linear-gradient(#e93030, #e2bdbd);


}

#nueve{background: linear-gradient(#6ca2df, #ccdbf3);;

}

#rep{
  background: linear-gradient(#1a1b1b, #b9bbbb);


}

#lover{background: linear-gradient(#eb9bdd, #f5dff0);

}

#fol{background: linear-gradient(#141414, #fbfcfb);

}

#evermore{ background: linear-gradient(#8a653b, #ddc5a6);


}

#medianoche{ background: linear-gradient(#301fcc, #c2b2e7);
}


.imagenprincipal{
position: relative;

}

h1{ position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Caveat', cursive;
font-size: 60px;
color: #b680b875;

}

.frasetriste{ position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Caveat', cursive;
font-size: 23px;
color: #59155c5b;

}

.premios{ width: 800px;
  height: auto;
  background-color: #eb82bf57;
  margin:auto;
  padding:20px;
}

#carouselExampleIndicators{
width: 800px;
border:2px solid #c27dbea2;
border-radius:10px  ;
margin: auto;
margin-right: 250px;
padding:20px;

}

.info{
background-color:  rgba(213, 177, 218, 0.507);
margin: auto;
padding: 30px;

}

.frasedos{
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Caveat', cursive;
font-size: 30px;
color: #59155c5b;

}

.bodydos{
background: linear-gradient(rgba(141, 128, 196, 0.212),rgba(218, 123, 123, 0.568));
display: grid;
grid-template-areas:
  "imagenprincipal imagenprincipal "
  "navbar navbar"
  "albunes albunes"
  "prologos prologos"
  "derechos derechos"
  
   
}

.cielolover{
width: 2100px;
height: auto;

}

.contratapa{
background-color: #feffff7c;
font-family: 'Playfair Display', serif;
font-size: 25px;
text-align: center;
color: #ce7c95;
border: solid 1px;

}

.prologos{
grid-template-areas:prologos;
width: 450px;
height: auto;
margin-left:765px;
margin-right: auto;
}

.imagenprincipal{
  grid-area: imagenprincipal;

}

.navbar{grid-area: navbar ;

}
.albunes{
grid-area:albunes;
}


.reputaprologo{
width: auto;
height: 420px;

}

.loverprologo{
width: auto;
height: 420px;
}

.anecdota{
background-color: #fdfbfd71;

}

.email{
background-color: #fdfbfd71;

}

.tay6{width: auto;
  height: 378px;


}

.tayvino{
width: auto;
height: 378px;
}

#bault{
border: solid 1px;
background: linear-gradient(#8275f35e, #260629da) !important;

}

#bodytres{
background: linear-gradient(rgba(175, 128, 196, 0.212),rgba(218, 123, 123, 0.568));


}

.fearlestour{
padding: 10px;
margin-left: 400px;
max-width: 900px;

}

.videografiauno{
background: linear-gradient(rgba(128, 129, 196, 0.288),rgba(235, 203, 209, 0.568));
border: solid 1px black
}

#bobeda{
background: linear-gradient(#a3aad8, #eee099)

}

#pregunta{
background: linear-gradient(#0d0d0eb9, #e980f375)

}